<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<!-- end custom footer snippets -->

<!-- start custom footer snippets -->
<div style="display: flex; justify-content: space-between; align-items: center; margin-top: 1em;">
  <!-- Sitemap -->
  <div>
    <a href="/sitemap/">Sitemap</a>
  </div>

  <!-- ClustrMaps -->
  <div style="margin-top: 3em;">
    <a href="https://clustrmaps.com/site/1c7gg" title="ClustrMaps">
      <img src="https://www.clustrmaps.com/map_v2.png?d=TEF-p1Iven3j_KDcNkZHvNLzUu0qG26nyOdQtX2musI&cl=ffffff" 
           alt="ClustrMaps" style="max-width: 200px;" />
    </a>
  </div>
</div>
<!-- end custom footer snippets -->
