<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<!-- end custom footer snippets -->

<!-- start custom footer snippets -->
<div style="display: flex; justify-content: space-between; align-items: center; margin-top: 0.3em;">
  <!-- Sitemap -->
  <div>
    <a href="/sitemap/">Sitemap</a>
  </div>

  <!-- ClustrMaps -->
  <div style="max-width: 200px;">
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=TEF-p1Iven3j_KDcNkZHvNLzUu0qG26nyOdQtX2musI&cl=ffffff&w=a"></script>
  </div>
</div>
<!-- end custom footer snippets -->